@import 'styles/variables';
@import 'styles/mixin';

.root {
  margin: 0 auto;
  max-width: 1440px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 112px;
  padding-top: 190px;

  @include tablet {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 140px;
    padding-bottom: 80px;
  }
 
  @include mobile {
    padding-left: $size-12; 
    padding-right: $size-12;
    padding-top: 60px;
    padding-bottom: $size-40;
  }
}

.header {
  text-align: center;

  .titleText{

    @include mobile{
      font-size: $size-16;
      margin-top: 0;
    }
  }

  .subtitle {
    display: inline-block;
    max-width: 653px;
    margin-top: $size-32;

    @include mobile{
      margin-top: 0;
      max-width: 100%;
      margin-top: $size-16;
      font-size: $size-14; 
    }
  }
}

.searchSection {
  margin-top: 50px;
  max-width: 1240px;

  @include mobile{
    margin-top: $size-20;
  }

  .searchBar {
    display: flex;
    gap: $size-16;
    width: 100%;

    .inputContainer{
      flex: 1;
      max-width: 1079px;
      display: flex;
      justify-content: center;

    .searchInput {
       width: 100%;
       min-width: 0;
       
    }
  }

    .searchButton {
      flex-shrink: 0;
      width: 137px;

      @include tablet{
          max-width: 120px;
      }

      @include mobile{
        max-width: 90px; 
        font-size: $size-14;
        padding: $size-8 $size-12; 
      }
    }
  }

  .totalProducts {
    margin-top: $size-48;
    max-width: 273px;
    max-height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile{
      margin-top: $size-24;
      max-width: 100%;
      justify-content: space-between;
    }

    .totalProductsText{
      @include mobile{
        font-size: $size-16;
      }
    }

    .totalText{
       @include mobile{
        font-size: $size-16;
    }
  }
}
}

.gridContainer {
  margin-top: 35px;

  @include mobile{
    margin-top: $size-20;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3);
    gap: 30px;

    @include tablet{
      grid-template-columns: repeat(2, 1fr);
      gap: $size-20;
    }

    @include mobile{
      grid-template-columns: 1fr;
      gap: $size-16;
      justify-items: center; 
    }
  }
}

.paginationContainer {
  margin-top: 65px;
  display: flex;
  justify-content: center;

  @include tablet{
    margin-top: 50px;
    text-align: center;
  }
  }

.errorContainer {
  margin: $size-100 auto;
  display: flex;
  justify-content: center;
}

.loaderContainer {
  margin: 350px auto;
  display: flex;
  justify-content: center;
}
